/.settings
/.project
/sakila01Ejb/.settings
/sakila01Ejb/.classpath
/sakila01Ejb/.project
/salika01Ear/.settings
/salika01Ear/.project
/sakila01War/.settings
/sakila01War/.classpath
/sakila01War/.project
/sakila01Ejb/target
/sakila01War/target
/salika01Ear/target
/Estructura proyecto.mdj
